/* S'assure que le body et la page prennent toute la hauteur */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Place le contenu entre le header et le footer avec plus d'espace */
.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Assure un bon espacement */
  padding-bottom: 30px; /* Ajoute un espace entre le contenu et le footer */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
